<div
  class="chart-container"
  role="button"
  tabindex="0"
  (click)="onChartClick()"
  (keyup.enter)="onChartClick()"
  (keyup.space)="onChartClick()"
>
  @if (chartOptions(); as options) {
    @if (options.series) {
      <apx-chart
        [series]="options.series"
        [chart]="options.chart!"
        [xaxis]="options.xaxis!"
        [stroke]="options.stroke!"
        [dataLabels]="options.dataLabels!"
        [theme]="options.theme!"
        [tooltip]="options.tooltip!">
      </apx-chart>
    }
  } @else {
    <div class="placeholder">Подготовка графика...</div>
  }
</div>
