<div class="dashboard">
  <header>
    <h1>{{ dataService.selectedSymbol() }} Analytics</h1>
    <div class="filters">
      <button [class.active]="selectedDays() === 1" (click)="loadData(dataService.selectedSymbol(), 1)">24 Часа</button>
      <button [class.active]="selectedDays() === 7" (click)="loadData(dataService.selectedSymbol(), 7)">7 Дней</button>
      <button [class.active]="selectedDays() === 30" (click)="loadData(dataService.selectedSymbol(), 30)">1 Месяц</button>
    </div>
  </header>

  <main>
    @if (isLoading()) {
      <div class="loader">
        <div class="spinner"></div>
      </div>
    } @else {
      <app-crypto-chart
        [data]="chartData()"
        (chartClicked)="handleUserInteraction($event)">
      </app-crypto-chart>
    }

    @if (interactionMessage(); as msg) {
      <div class="alert">{{ msg }}</div>
    }
  </main>
</div>
